In [9]:
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
from models.utils import balance

In [10]:
data = pd.read_csv('csv/cleaned_data.csv')

In [11]:
data.head()

                      image    emotion
0    Aaron_Eckhart_0001.jpg    neutral
1      Aaron_Guiel_0001.jpg  happiness
2  Aaron_Patterson_0001.jpg    neutral
3    Aaron_Peirsol_0001.jpg  happiness
4    Aaron_Peirsol_0002.jpg  happiness

In [12]:
data.emotion.value_counts()

neutral      6868
happiness    5696
surprise      367
sadness       268
anger         251
disgust       207
fear           20
contempt        9
Name: emotion, dtype: int64

In [13]:
data = balance(data, data.columns, 'emotion', 300)

In [14]:
data.emotion.value_counts()

neutral      300
surprise     300
happiness    300
sadness      268
anger        251
disgust      207
fear          20
contempt       9
Name: emotion, dtype: int64

In [17]:
data.to_csv('csv/balanced.csv', index=False, header=True)